{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Done saving</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div style="margin: 300px auto;  width: 50%;  padding: 10px;text-align: left">
        <p class="alert alert-success"> Done! Saved {{saved}} link(s)</p>
        <a href="/" class="btn btn-success" style="float: right">Go to start</a>
    </div>
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</body>
</html>