{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search here</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div style="margin: 300px auto;  width: 50%;">
    <form name="search_form" action="/search" class="form-signin">
            <input type="text" name="query" placeholder="input your query" class="form-control" style="width:70%; float: left; height: 40px;">
            <select name="pages" class="select2-dropdown" style="height: 40px;">
              <option  disabled selected>Pages:</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <input type="checkbox" name="ads"> incl. ads
        <button type="submit" class="btn btn-success" style="height: 40px; width: 8%">Go</button>
    </form>
    </div>
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>