{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Search results</title>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div style="margin: 300px auto;  width: 50%;  padding: 10px;text-align: left">
        <h3 class="alert alert-success">Select links to be saved for query "{{query}}":</h3>
        <form action="save" method="post">
            <input type="hidden" value="{{query}}" name="query">
            {% for result in results %}
                <label style="margin: 3px; font-size: 14pt; display: block;">
                    <span style="width:5%">{{forloop.counter}}. </span>
                    <a style="width: 80%" href={{result.url}} target="_blank">{{result.title}}</a>

                    <input type="checkbox" name="url_{{forloop.counter}}" value="{{result.url}}=={{ result.title }}"
                            style="text-align:center;height:40px;float:right;width:5%" >
{#                <input type="hidden" name="title_{{ forloop.counter }}" value="{{result.title}}">#}
                </label>
                <br/>

            {% endfor %}
            <br/>
            <button class="btn btn-success" style="float: right" type="submit">Save selected</button>
        </form>
    </div>
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>